pytest==7.3.1
pytest-cov==4.0.0
fire==0.5.0
pylint==2.17.4
fire==0.5.0 
flask==2.3.2
langchain==0.0.136
pydantic==1.10.4
uvicorn==0.20.0
Werkzeug==2.3.3
openai==0.27.1
faiss-cpu==1.7.3
tiktoken==0.4.0
azure-functions==1.14.0